APP_ENV=development
APP_PORT=3000

# Database settings
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=hushaz_api
DATABASE_URL="mysql://root:@127.0.0.1:3306/hushaz_api"

# JWT settings
JWT_SECRET=
JWT_EXPIRES_IN=6h

LOG_LEVEL=info